body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #drawing-container {
    position: relative;
  }
  
  #tools-container {
    margin-top: 20px;
  }
  
  canvas {
    border: 1px solid #000;
  }
  